html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#logo-navbar {
    width: 10%;
    max-width: 130px;
    left: 5px;
    top: 5px;
    content: url(../data/images/logo.png);
}