@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-auto">
    <h1 class="text-center text-5xl">Welcome</h1>
    <p class="text-center">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
