@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Login to get started</h1><br>
    <label style="font-size:160%;">Enter your username</label>
    <input type="text" /><br>
    <label style="font-size:160%;">Enter your password</label>
    <input type="text" />
</div>
