@page
@model StFrancisHouse.Pages.LookupModel
@{
}
<div class="text-center">
    <button>Print Recipt</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
