@page
@model StFrancisHouse.Pages.LookupModel
@{
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
function populateTable2() {
    var x = PageMethods.foo();

    console.log("Populating example table");
    //alert("ALERT");

    var html = '';
    var cols = 4;
   
    html += '<tr>'
    for (var j = 0; j < cols; j++) 
    {
        html += '<th> H' + j + '</th>';
    }

    html += '</tr>';
    



    for (var i = 0; i < 5; i++)
    {
        html += '<tr>';
        for (var j = 0; j < cols; j++) 
        {
            html += '<td>' + j + '</td>';
        }
        html += '</tr>';
    }

    $("#table9000 tbody").html(html);

} 

function populateTable()
{
    $.ajax({
        type: "POST",
        url: '/Home/AjaxMethod',
        method: 'POST',
        data: {name: "Greg"},
        contentType: "application/JSON; charset=utf-8",
        dataType: "json",
        success: function(r) { alert("success"); },
        complete: function(r) { alert("complete"); },
        failure: function(r, status, error) { alert("failure"); }
    });
}


function example(){
    console.log("Populating table with respone data.");

}



</script>

<body>
    <div class="square-div">
        <table id = 'table9000' border="1"> <tbody></tbody> </table>

    </div>
    
    <div class="button-div">
        
            <button class="btn back-btn">Back</button>
            <button class="btn">Enter Items</button>
            <button class="btn">Item Lookup</button>
            <button class="btn">Print Receipts</button>
            <button class="btn" onclick="populateTable()">Member Lookup</button>
    
            
        <!--
        <form method="post" asp-page-handler="FuncFoo">
            <button class="btn" id="foo" runat="server">Member Lookup2</button>
        </form>
        --> 


        
            <button class="btn">Sign Out</button>
            <asp:Button id="testbutton" class="btn" Text="TestButton1" onclick=""></asp:Button>
    </div>
</body>




@*<div class="text-center">
    <button>Print Recipt</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


