@page
@model StFrancisHouse.Pages.LookupModel
@{
}

<body>
    <div class="square-div">
    </div>
    <div class="button-div">
        <button class="btn back-btn">Back</button>
        <button class="btn">Enter Items</button>
        <button class="btn">Item Lookup</button>
        <button class="btn">Print Receipts</button>
        <button class="btn">Member Lookup</button>
        <button class="btn">Sign Out</button>
    </div>
</body>

@*<div class="text-center">
    <button>Print Recipt</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
