<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StFrancisHouse</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    @* NavBar! *@
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl">StFrancisHouse</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a>Item 1</a></li>
                <li tabindex="0">
                    <a>Parent
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                    </a>
                    <ul class="p-2 bg-base-100">
                        <li><a>Submenu 1</a></li>
                        <li><a>Submenu 2</a></li>
                    </ul>
                </li>
                <li><a>Item 3</a></li>
            </ul>
        </div>
    </div>
    @* End Navbar! *@


    <div class="min-w-screen">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer footer-center p-4 bg-base-300 text-base-content mx-auto">
        <div>
            <p>Copyright © 2022 - All right reserved by StFrancisHouse</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>